@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Playwrite+IN:wght@100..400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    
}
body{
 background-image: url(./download\ \(1\).jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}

.Full-Width{
    max-width: 1440px;
    margin: 0px auto;
}


.contain{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    
}
.contain img{
    height: 89px;
    width: 105px;
   
}
nav ul{
    display: flex;
}
nav li{
    font-family: "Audiowide", serif;
    margin-left: 12px;
    font-weight: 600;
    /* font-variant: small-caps; */
    transition: 0.3s;
    cursor: pointer;
    font-size: 13px;
    color: #a6a7a7;

}
nav li:hover{
    transform: scale(0.9);
    color: brown;
}

.contain-2{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    /* align-items: center; */
    margin-top: 72px;
    
}


.contain-2-text span{
    font-family: "Audiowide", serif;
    font-size: 19px;

color: #a6a7a7;




}
.contain-2-text p{

   margin-top: 51px;
   font-family: "Audiowide", serif;
   font-size: 39px;
   /* color: #ffffff63; */
   color: cadetblue;
   opacity: 0;
   animation: showText 1s linear infinite;
  
}
.contain-2-image img {
    height: 337px;
    width: 340px;
    border-radius: 50%;
}
#para2{
    font-size: 30px;
    font-family: "Audiowide", serif;
    font-variant: petite-caps;
    line-height: 29px;
    color: #8d9899;
}

 

  
  @keyframes showText {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  
  }
  @media screen and (max-width: 800px){
    .contain{
        flex-direction: column;
        align-items: center;

    }
    nav ul{
        margin-left: 112px;
        margin-top: 37px;
    }
     nav li{
        font-size: 14px;
     } 
    .contain-2{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .contain-2-text p{
        font-size: 25px;
    }
    

  }